<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a62510.weidunproject">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".User_register_Activity" />
        <activity
            android:name=".First_Interface_Activity"
            android:label="@string/title_activity_first__interface_" />
        <activity android:name=".User_Setting_Activity" />
        <activity android:name=".Personal_Activity" />
        <activity android:name=".Device_Activity" />
        <activity android:name=".Device_Display_Activity" />
        <activity android:name=".History_Activity" />
    </application>

</manifest>